<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<AppKey>XAS-1023-00-156</AppKey>
	
	<Position>
		<Title>Owner</Title>
		<Name>Jack Gibson</Name>
	</Position>
	
	<ConnectionString>
		<Production>Data Source=.\SQLEXPRESS;Initial Catalog=NorthWind2024;Integrated Security=True;Encrypt=False</Production>
		<Development>Data Source=.\SQLEXPRESS;Initial Catalog=NorthWind2023;Integrated Security=True;Encrypt=False</Development>
	</ConnectionString>
	
	<Logging>
		<LogLevel>
			<Default>Information</Default>
			<Microsoft>Warning</Microsoft>
		</LogLevel>
	</Logging>

	<section name="section0">
		<key name="key0">2340</key>
		<key name="key1">1354</key>
	</section>
	<section name="section1">
		<key name="key0">10</key>
		<key name="key1">11</key>
	</section>
	
</configuration>